html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

---===Используемые шрифты в макете===---


font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'PT Sans', sans-serif;
font-family: Tahoma, Verdana, Segoe, sans-serif;

*/

/*Begin your code css*/
.container {
	width: 100%;
}
.container__bgLine {
	width: 100%;
	height: auto;
	background-image:url(../images/bgLine.jpg);
}
.bgLine__text {
	width: 70%;
	margin: 0 auto;
	padding: 35px 0 35px 0;
}
.bgLine__text h2 {
	text-align: center;
	color: #FFFF25;
	font-size: 48px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}
.bgLine__text p {
	font-size: 26px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}
.bgLine__text span {
	font-family: 'PT Sans', sans-serif;
	color: #000;
	background-color: #F0EFED;
	font-weight: lighter;
	font-size: 22px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 15px;
	width: 45%;
	padding: 5px;
	text-align: center;
}
.bgLine__text p:last-child {
	font-size: 22px;
	font-weight: lighter;
} 