html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container{
	width: 70%;
}

.tasks{
	min-height: 775px;
	text-align: center;
}

.tasks h2 {
	font: bold 47px/49px "Ubuntu";
	margin-top: 50px;
}

.tasks h6{
	font: bold 33px/35px "Ubuntu";
	margin-top: 30px;
 }

.tasks span{
	font: normal 30px/32px "Ubuntu";
}

.attention{
	margin-top: 15px;
}

.tasks__first,
.tasks__second,
.tasks__third{
	display: inline-flex;
	flex-wrap: wrap;
	text-align: justify;
	padding: 50px 0;
}

.tasks__second{
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}

.tasks__first img,
.tasks__second img,
.tasks__third img{
	width: 10%;
}

.tasks__first p,
.tasks__second p,
.tasks__third p{
	width: 85%;
	padding-left: 5%;
	font: 22px/24px "PTSans-Regular";
}

.tasks__first > p > span,
.tasks__second > p > span{
	padding: 0px;
	font: 22px/24px "PTSans-Bold";
}

.tasks__first span{
	width: 85%;
	font: 22px/24px "PTSans-Regular";
	padding-left: 15%;
}

.advantage{
	width: 100%;
	min-height: 275px;
	display: flex;
	justify-content: center;
	text-align: center;
	background-image: url(../images/advantage_bg.jpg);
}

.advantage h2{
	margin: 50px 0 35px;
	font: bold 41px/43px "Ubuntu";
	color: #fff;
}

.advantage p{
	font: 30px/32px "PTSans";
	color: #fff;
}

.advantage span{
	font-family: "PTSans-Bold";
	color: #fff000;
}

/*

---===Используемые шрифты в макете===---


font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'PT Sans', sans-serif;
font-family: Tahoma, Verdana, Segoe, sans-serif;

*/

/*Begin your code css*/